.container {
  width: 80rem;
  margin: 3rem auto;
  background-color: #ddd;

  display: grid;
  //grid-template-rows: repeat(2, 15rem);
  //grid-template-columns: repeat(2, 1fr);   // = Explicit grid, when css and sass make more grid its implicit grid
  grid-gap: 3rem;

  ////////////////////////////////////////////////////////////////////
  // Aligning Grid items to grid areas
  grid-auto-rows: 8rem;
  grid-auto-columns: .5rem;
  //grid-auto-flow: column;    //row is set as default.
  //grid-auto-flow: row;
  grid-auto-flow: row dense;   // helps to fill holes in grid
  //grid-auto-flow: column dense;   // helps to fill holes in grid

  //align-item: center;          // stretch is the default
  //align-item: stretch;
  //align-item: start;
  //align-item: end;
  //justify-item: center;        // stretch is the default
  //justify-item: stretch;
  //justify-item: start;
  //justify-item: end;

  ////////////////////////////////////////////////////////////////////
  // Aligning Tracks to grid areas
  grid-template-rows: repeat(2, 10rem);
  grid-template-columns: repeat(2, 20rem);
  height: 80rem;

  //basic ones
  justify-content: center;         // most useful
  //justify-content: start:
  //justify-content: end:
  //other
  //justify-content: space-between;
  //justify-content: space-around;
  //justify-content: space-evenly;

  //basic ones
  align-content: center;           // most useful
  //align-content: start:
  //align-content: end:
  //other
  //align-content: space-between;
  //align-content: space-around;
  //align-content: space-evenly;

  .item {
    padding: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    background-color: orangered;

    &--4 {
      background-color: crimson;
      grid-row: 2 / span 3;
      //align-self: start;
      //align-self: end;
      //justify-self: start;
      //justify-self: end;
    }

    &--6 {
      background-color: lightcoral;
      grid-row: 2 / span 2;
    }

    &--7 {
      background-color: palevioletred;
      grid-column: 1 / -1;
    }
  }
}