.container {
  width: 100rem;
  margin: 3rem auto;
  background-color: #ddd;

  display: grid;

  /////////////////////////////////////////////////////////////////
  //Using min-content and max-content
  //grid-template-rows: repeat(2, 15rem);
  //grid-template-rows: repeat(2, min-content);
  //grid-template-rows: 15rem min-content;

  //grid-template-columns: 1fr 1fr 1fr 1fr;
  //grid-template-columns: max-content 1fr 1fr 1fr;
  //grid-template-columns: max-content 1fr 1fr max-content;
  //grid-template-columns: max-content 1fr 1fr min-content;
  //grid-template-columns: min-content 1fr 1fr min-content;

  /////////////////////////////////////////////////////////////////
  //Using minmax function
  //width: 90%;
  //grid-template-rows: repeat(2, minmax(15rem, min-content));
  //grid-template-columns: minmax(20rem, 30rem) repeat(3, 1fr);
  //grid-template-columns: minmax(20rem, 1fr) repeat(3, 1fr);

  /////////////////////////////////////////////////////////////////
  //Using auto fill and auto fit
  grid-template-rows: repeat(2, minmax(15rem, min-content));
  //grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 10rem);
  //grid-template-columns: repeat(auto-fill, 10rem);      //instead of writing 8. but it will fill to the width size.
  //grid-template-columns: repeat(auto-fit, 10rem);         // still create the columns but colapses the empty ones so it gives you the number of columns filled.

  width: 90%;
  //grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-auto-rows: 15rem;

  .item {
    padding: 1rem;
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
    background-color: orangered;

    &--1 {
      background-color: orangered;
    }

    &--2 {
      background-color: yellowgreen;
    }

    &--3 {
      background-color: blueviolet;
    }

    &--4 {
      background-color: palevioletred;
    }

    &--5 {
      background-color: royalblue;
    }

    &--6 {
      background-color: goldenrod;
    }

    &--7 {
      background-color: crimson;
    }

    &--8 {
      background-color: darkslategray;
    }
  }
}