.container {
  background-color: #eee;
  width: 50rem;
  height: 50rem;
  margin: 0 auto;

  display: grid;
  grid-template-rows: .3fr .8fr 2fr .3fr;
  grid-template-columns: 2fr 2fr 2fr 1.5fr;

  grid-gap: 1rem;
}

.item {
  padding: 1rem;
  font-size: 1.4rem;
  font-family: sans-serif;
  color: white;
  background-color: red;

  &--1 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

  &--2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

  &--3 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

  &--4 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

  &--5 {
    grid-row: 2 / 4;
    grid-column: 4 / 5;
}

  &--6 {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
}

  &--7 {
    grid-row:  4/ 5;
    grid-column: 1 / -1;
}
}