.container {
  background-color: #eee;
  width: 100rem;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 15rem 15rem;
  grid-template-columns: 15rem 15rem 15rem;

  //grid-row-gap: 3rem;
  //grid-column-gap: 5rem;
  grid-gap: 3rem;
}

.item {
  padding: 2rem;
  font-size: 3rem;
  font-family: sans-serif;
  color: white;

  &--1 {
    background-color: orangered;
}

  &--2 {
    background-color: yellowgreen;
}

  &--3 {
    background-color: blueviolet;
}

  &--4 {
    background-color: palevioletred;
}

  &--5 {
    background-color: royalblue;
}

  &--6 {
    background-color: goldenrod;
}
}