.container {
  background-color: #eee;
  width: 100rem;
  margin: 0 auto;
  //height: 100rem;

  display: grid;
  grid-template-rows: repeat(2, 15rem);
  //grid-template-rows: repeat(2, 1fr);

  //grid-template-columns: repeat(3, 15rem);
  //grid-template-columns: repeat(2, 15rem) 30rem;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-columns: 1fr 2fr 1fr;
  //grid-template-columns: 1fr 3fr 1fr;
  //grid-template-columns: 1fr 3fr 3fr;
  //grid-template-columns: 50% 1fr 2fr;

  //grid-row-gap: 3rem;
  //grid-column-gap: 5rem;
  grid-gap: 3rem;
}

.item {
  padding: 2rem;
  font-size: 3rem;
  font-family: sans-serif;
  color: white;

  &--1 {
    background-color: orangered;
}

  &--2 {
    background-color: yellowgreen;
}

  &--3 {
    background-color: blueviolet;
}

  &--4 {
    background-color: palevioletred;
}

  &--5 {
    background-color: royalblue;
}

  &--6 {
    background-color: goldenrod;
}
}