.container {
  background-color: #eee;
  width: 100rem;
  margin: 0 auto;
  //height: 100rem;

  display: grid;
  grid-template-rows: repeat(2, 15rem);
  //grid-template-rows: repeat(2, 1fr);

  //grid-template-columns: repeat(3, 15rem);
  //grid-template-columns: repeat(2, 15rem) 30rem;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-columns: 1fr 2fr 1fr;
  //grid-template-columns: 1fr 3fr 1fr;
  //grid-template-columns: 1fr 3fr 3fr;
  //grid-template-columns: 50% 1fr 2fr;

  //grid-row-gap: 3rem;
  //grid-column-gap: 5rem;
  grid-gap: 3rem;
}

.item {
  padding: 2rem;
  font-size: 3rem;
  font-family: sans-serif;
  color: white;

  &--1 {
    background-color: orangered;
  /* grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;*/
   grid-row: 2 / 3;
   grid-column: 2 / 3;
   //grid-column: 2 / 4;
   z-index: 30;
}

  &--2 {
    background-color: yellowgreen;
    //grid-column: 1 / span 2;
    //grid-column: 1 / span 3;
    //grid-column: 2 / span 3;
    //grid-column: 2 / span 2;
    //grid-column: 2 / -1;
    //grid-column: 3 / -1;
    grid-column: 1 / -1;
}

  &--3 {
    background-color: blueviolet;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    z-index: 10;
}

  &--4 {
    background-color: palevioletred;
}

  &--5 {
    background-color: royalblue;
    /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1 / 2;
    grid-column: 3 / 4;*/
    grid-area: 1 / 3 / 3 / 4;
}

  &--6 {
    background-color: goldenrod;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
}